 <div class="container">
        <!-- HEADER -->
        <div class="row">
            <div class="col-md-12">
                <div id="buttons" class="main-content">
                    <h1>Fit-or-Fat</h1>
                    <h6>(the name is a subject to change)</h6>
                    <button type="button" id="sign-out-btn" class="btn btn-primary btn-lg">Sign out</button>
                </div>
            </div>
        </div>
        <!-- FOOD AND ACTIVITY INPUT -->
        <div class="row" id="user-input">
            <div id="food-input" class="col-md-6 main-content">
                <h4 class="text-center">What did you eat today?</h4>
                <form id="food-input-form">
                    <div class="form-group mt-3">
                        <label for="food-type-input">Enter types of food you ate today</label>
                        <input type="text" class="form-control" id="food-type-input"
                            placeholder="food type, for example 'chicken'">
                        <div class="form-group mt-3">
                            <label for="food-amt-input">Enter amount of food you ate today</label>
                            <input type="text" class="form-control" id="food-amt-input" placeholder="grams">
                        </div>
                        <div class="col text-center">
                            <button id="food-submit" class="btn btn-primary btn-lg">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
            <div id="activity-input" class="col-md-6 main-content">
                <h4 class="text-center">What did you do today?</h4>
                <form id="activity-input-form">
                    <div class="form-group mt-3">
                        <label for="activity-type-input">Enter type of activity you did today</label>
                        <input type="text" class="form-control" id="activity-type-input"
                            placeholder="type of activity, for example 'running'">
                        <div class="form-group mt-3">
                            <label for="activity-amt-input">Enter amount of activity you did today</label>
                            <input type="text" class="form-control" id="activity-amt-input" placeholder="">
                        </div>
                        <div class="col text-center mt-3">
                            <button id="activity-submit" class="btn btn-primary btn-lg">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <!-- WEIGHT INPUT -->
        <div class="row" id="user-input-2">
            <div id="weight-form" class="col-md-6 main-content">
                <h4 class="text-center">What is yor current weight?</h4>
                <form id="weight-input-form">
                    <div class="form-group">
                        <label for="weight-input">Enter types of food you ate today</label>
                        <input type="text" class="form-control" id="weight-input" placeholder="kg">

                        <div class="col text-center">
                            <button id="weight-submit" class="btn btn-primary btn-lg">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- JS files: jQuery, Popper.js, Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script src="../public/assets/js/app.js" type="text/javascript"></script>