<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Fit-or-Fat</title>
    <link rel='icon' href='../public/assets/images/android-chrome-96x96.png' sizes="32x32" type='image/png'>
    <!-- Bootstrap CSS file -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel='stylesheet' href='../public/assets/css/style.css' />

</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div id = "buttons" class="main-content">
                    <h1>Fit-or-Fat</h1>
                    <h6>(the name is a subject to change)</h6>
                    <button type="button" id="sign-in-btn" class="btn btn-primary btn-lg">Sign in</button>
                    <!-- <p>Or</p> -->
                    <button type="button" id="new-user-bnt" class="btn btn-primary btn-lg">Create New User</button>
                    <div class="main-text"></div>
                </div>
            </div>
        </div>

        <!-- Random Fitness Quote -->
        <div id = "rfq" class="row">
            <div class="col-md-12">
                <div id="fitness-quotes" class="main-content">
                    <p id="fq" class="random-quote"></p>
                    <p id="fqa" class="random-quote-author"></p>
                </div>
            </div>
        </div>

        <!--Row with two columns divided in 1:2 ratio-->
        <!-- <div class="row">
            <div class="col-md-4">
                <div class="main-content">.col-md-4</div>
            </div>
            <div class="col-md-8">
                <div class="main-content bg-alt">.col-md-8</div>
            </div>
        </div> -->

    </div>

    <!-- Modal for Sing in -->
    <div id="sign-in-modal" class="modal fade" data-backdrop="static" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Sing in</h5>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <!-- <p>Do you want to save changes to this document before closing?</p>
                    <p class="text-secondary"><small>If you don't save, your changes will be lost.</small></p> -->
                    <form>
                        <div class="form-group">
                            <label>User name</label>
                            <input type="" class="form-control" id="inputUserName" placeholder="User name">
                        </div>
                        <div class="form-group">
                            <label for="inputPassword">Password</label>
                            <input type="password" class="form-control" id="inputPassword" placeholder="Password">
                        </div>
                        <!-- <div class="form-group">
                            <label class="form-check-label"><input type="checkbox"> Remember me</label>
                        </div> -->
                        <button id="signinmodalbtn" type="submit" class="btn btn-primary">Sign in</button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
                </div>
            </div>
        </div>
    </div>

    <!-- Modal for Creating New User -->
    <div id="new-user-modal" class="modal fade" data-backdrop="static" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Create New User</h5>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label>User name</label>
                            <input type="" class="form-control" id="inputNewUserName"
                                placeholder="Create New User name">
                        </div>
                        <div class="form-group">
                            <label for="inputPassword">Password</label>
                            <input type="password" class="form-control" id="inputNewPassword"
                                placeholder="Create New User Password">
                        </div>
                        <div class="form-group">
                            <label for="">Your current weight</label>
                            <input type="password" class="form-control" id="inputCurrentWeight"
                                placeholder="Input number, LBs">
                        </div>
                        <div class="form-group">
                            <label for="">Your target weight</label>
                            <input type="password" class="form-control" id="inputTargetWeight"
                                placeholder="Input number, LBs">
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
                </div>
            </div>
        </div>
    </div>

    <!-- New Modal -->
    <!-- <div id="newModal" class="modal fade" data-backdrop="static" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Input today's activity</h5>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body"> -->
                    <!-- <form>
                        <div class="form-group">
                            <label>User name</label>
                            <input type="" class="form-control" id="inputNewUserName"
                                placeholder="Create New User name">
                        </div>
                        <div class="form-group">
                            <label for="inputPassword">Password</label>
                            <input type="password" class="form-control" id="inputNewPassword"
                                placeholder="Create New User Password">
                        </div>
                        <div class="form-group">
                            <label for="">Your current weight</label>
                            <input type="password" class="form-control" id="inputCurrentWeight"
                                placeholder="Input number, LBs">
                        </div>
                        <div class="form-group">
                            <label for="">Your target weight</label>
                            <input type="password" class="form-control" id="inputTargetWeight"
                                placeholder="Input number, LBs">
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form> -->
                <!-- </div> -->
                <!-- <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button> -->
                    <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
                <!-- </div> -->
            <!-- </div>
        </div>
    </div> -->

    <!-- JS files: jQuery, Popper.js, Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script src="../public/assets/js/app.js" type="text/javascript"></script>
</body>

</html>